.env
node_modules
dist
debug.log
coverage
.vscode
.env.test
.idea
*.local
npm-debug.log*

.DS_Store
*.tsbuildinfo
.cache
*.log
*.sqlite

# TypeScript
*.d.ts
tsconfig.tsbuildinfo
.vite
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

pnpm-debug.log*
lerna-debug.log*


